.App {
  text-align: center;
}

.App-header {
  background-color: red;
  color: blue;
}
html {
  height: 100%;
}

.Header {
  background-color: rgb(114, 96, 96);
  font-size: 50px;
  padding: 1%;
  border: 4px dotted blue;
}
.DisplayAlgo {
  border: 4px dotted red;
  min-height: 640px;
  background-color: rosybrown;
  --width: auto;
  width: var(--width);
  display: flex;
  flex-direction: row;
}
.DisplayAlgoLine {
  min-width: 10px;
  background-color: rgb(231, 240, 230);

  margin-top: auto;
}
.Footer {
  background-color: black;
  width: auto;
  height: 100%;
}
